<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{post.heading}} | {{post.postId}}</title>
    <link rel="stylesheet" href="/libs/bootstrap/bootstrap.min.css">
</head>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other
                        background context. Make it a few sentences long so folks can pick up some informative tidbits.
                        Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
                     viewBox="0 0 24 24" focusable="false">
                    <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/>
                    <circle cx="12" cy="13" r="4"/>
                </svg>
                <strong>Epic blog</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="row pt-4 col-12">
            <div class="card col-12">
                <img class="card-img-top" src="{{post.postImg}}" alt="">

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="heading">Rubrik</label>
                            <input type="text" class="form-control" id="heading" name="heading"
                                   value="{{post.heading}}">
                            <!--                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone-->
                            <!--                                else.</small>-->
                        </div>
                        <div class="form-group">
                            <label for="body">Text</label>
                            <textarea class="form-control" name="body" id="body" rows="10">{{post.body}}</textarea>
                            <!--                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone-->
                            <!--                                else.</small>-->
                        </div>
                    </form>
                    <!--                    <h1 class="card-title">{{post.heading}}</h1>-->
                    <!--                    <p class="card-body">{{post.body}}</p>-->
                    <p>Post made by <strong title="{{post.bio}}"><a
                            href="/users/{{post.userId}}">{{post.username}}</a></strong>
                    </p>
                    <div class="btn-group">
                        <a class="btn btn-outline-primary" href="/posts/{{post.postId}}">Spara</a>
                        <a class="btn btn-outline-secondary" href="/posts/{{post.postId}}">Avbryt</a>
                        <a class="btn btn-outline-danger" href="/posts/{{post.postId}}/delete">Ta bort</a>
                    </div>
                </div>
            </div>
        </div>
</main>


<script src="/libs/jquery.min.js"></script>
<script src="/libs/popper.min.js"></script>
<script src="/libs/bootstrap/bootstrap.bundle.js"></script>
</body>
</html>